
<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title wow fade">
          <figure>
          <%= image_tag "issam-logo.png" %>
          </figure>
          <h2>POURQUOI KBM ?</h2>
          <p>Kickboxing Morocco offre des cours de kickboxing de haute qualité
           enseignés par des instructeurs expérimentés, ce qui en fait un choix
            idéal pour les amateurs de sports de combat qui cherchent à améliorer leurs compétences.</p>
        </div>
        <!-- end section-title --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="image-box">
          <figure class="wow reveal-effect">
          <%= image_tag "insta-5.jpg" %>
          </figure>
          <span class="time">18:00 - LUNDI</span>
          <h6>KICKBOXE</h6>
        </div>
        <!-- end image-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="image-box">
          <figure class="wow reveal-effect">          
          <%= image_tag ("insta-12.png") %>
          </figure>
          <span class="time">20:00 - JEUDI </span>
          <h6>PRO</h6>
        </div>
        <!-- end image-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="image-box">
          <figure class="wow reveal-effect">          
            <%= image_tag "insta-14.png" %>
          </figure>
          <span class="time">10:00 - SAMEDI </span>
          <h6> JUNIORS</h6>
        </div>
        <!-- end image-box --> 
      </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->
<section class="content-section no-spacing" data-background="#fafafa">
  <div class="container">
    <div class="row align-items-center no-gutters">
      <div class="col-lg-6">
        <div class="side-content left wow fade">
          <h6>TEAM KBM</h6>
          <h2>REJOINS NOTRE<br>
            ÉQUIPE</h2>
          <p>En plus de son excellent programme de kickboxing, Kickboxing Morocco propose 
          une ambiance conviviale et une communauté accueillante, ce qui en fait un choix idéal
           pour ceux qui cherchent une expérience de fitness sociale et stimulante.</p>
          <a href="#" class="custom-button">VOIR LES HORAIRES</a> </div>
        <!-- end side-content --> 
      </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <figure class="side-image full-right wow reveal-effect">
			<ul class="side-timetable">
			<li><span>LUNDI</span> <b> 10:00 - 23:00</b></li>
			<li><span>MARDI</span> <b> 10:00 - 23:00</b></li>
			<li><span>MERCREDI</span> <b> 10:00 - 23:00</b></li>
			<li><span>JEUDI</span> <b> 10:00 - 23:00</b></li>
			<li><span>VENDREDI</span> <b> 10:00 - 23:00</b></li>
			<li><span>SAMEDI</span> <b> 10:00 - 23:00</b></li>
			<li><span>DIMANCH</span> <b> 10:00 - 23:00</b></li>
			</ul>    
        <%= image_tag "side-image01.jpg" %>
			  </figure>
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->
<section class="content-section" data-background="#fafafa">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="counter-box wow fade">
          <figure>
                  <%= image_tag "icon01.png" %>
          </figure>
          <span class="odometer" data-count="150" data-status="yes">0</span>
          <h6>JOURS DEPUIS L'OUVERTURE</h6>
        </div>
        <!-- end counter-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="counter-box wow fade">
          <figure>
          <%= image_tag "icon02.png" %>
          </figure>
          <span class="odometer" data-count="200" data-status="yes">0</span>
          <h6>LA COMMUNAUTE</h6>
        </div>
        <!-- end counter-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="counter-box wow fade">
          <figure>
          <%= image_tag "icon03.png" %>
          </figure>
          <span class="odometer" data-count="759" data-status="yes">0</span>
          <h6>NOS PROGRAMMES</h6>
        </div>
        <!-- end counter-box --> 
      </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->
<section class="content-section no-spacing">
  <div class="container-fluid no-spacing">
    <div class="row no-gutters">
      <div class="col-lg-4">
        <div class="image-overlap-box wow fade">
          <figure> 
          <%= image_tag ("dark-bg.jpg") %>
          </figure>
          <div class="content">
          <%= image_tag "icon04.png" %>
            <h6>RESERVATION</h6>
            <p></p>
            <a href="#">EN SAVOIR PLUS</a> </div>
          <!-- end content --> 
        </div>
        <!-- end image-overlap-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4">
        <div class="image-overlap-box wow fade">
          <figure>
          <%= image_tag ("dark-bg.jpg") %>
           </figure>
          <div class="content">
            <%= image_tag "icon05.png" %>
            <h6>NOS PROGRAMMES</h6>
            <p></p>
            <a href="#">EN SAVOIR PLUS</a> </div>
          <!-- end content --> 
        </div>
        <!-- end image-overlap-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4">
        <div class="image-overlap-box wow fade">
          <figure> 
          <%= image_tag ("dark-bg.jpg") %>
           </figure>
          <div class="content">
          <%= image_tag "icon06.png" %>
            <h6>SANTE ET BIEN ETRE</h6>
            <p></p>
            <a href="#">EN SAVOIR PLUS</a> </div>
          <!-- end content --> 
        </div>
        <!-- end image-overlap-box --> 
      </div>
      <!-- end col-4 --> 
    </div>
  </div>
  <!-- end container-fluid --> 
</section>
<!-- end content-section -->
<!-- end content-section -->
<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title wow fade">
          <figure>
          <%= image_tag "section-title-shape.png" %>
          </figure>
          <h6>BLOG</h6>
          <h2>DERNIERS ARTICLES</h2>
        </div>
        <!-- end section-title --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="recent-news">
          <figure class="wow reveal-effect">
          <%= image_tag "recent-news01.jpg" %>
          </figure>
          <div class="content">
            <h3><a href="#">TITRE DE POST</a></h3>
            <p></p>
            <small>BOXE<span></span>20 Janvier 2023</small> </div>
          <!-- end content --> 
        </div>
        <!-- end recent-news --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="recent-news">
          <figure class="wow reveal-effect">
          <%= image_tag "recent-news02.jpg" %>
          </figure>
          <div class="content">
            <h3><a href="#">TITRE DE POST</a></h3>
            <p></p>
            <small>Fitness<span></span>20 Janvier 2023</small> </div>
          <!-- end content --> 
        </div>
        <!-- end recent-news --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="recent-news">
          <figure class="wow reveal-effect">
          <%= image_tag "recent-news03.jpg" %>
         </figure>
          <div class="content">
            <h3><a href="#">TITRE DE POST</a></h3>
            <p></p>
            <small>Muay Thai<span></span>20 Janvier 2023</small> </div>
          <!-- end content --> 
        </div>
        <!-- end recent-news --> 
      </div>
      <!-- end col-4 -->
      <div class="col-12 text-center"> <a href="#" class="custom-button">VOIR TOUS LES POSTES</a> </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->
<section class="content-section" data-background="#f42828" style="display:none;"> 
	 <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
		  <div class="side-content light left wow fade">
		  <h2>WORK OUT ON YOUR WAY</h2>
			  <h6>Thousands of gyms. Zero contracts.</h6>
			  <form>
			  <input type="text" placeholder="Enter postcode or location">
				  <button type="submit"><i class="lni lni-target"></i></button>
			  </form>
		  </div>
		  <!-- end side-content -->
	</div>
      <!-- end col-6 --> 
		<div class="col-lg-6">
		  <div class="side-gallery">
				<figure><a href="images/gallery-thumb01.jpg" data-fancybox class="wow reveal-effect"> <%= image_tag "gallery-thumb01.jpg" %></a></figure>
				<figure><a href="images/gallery-thumb02.jpg" data-fancybox class="wow reveal-effect"><%= image_tag "gallery-thumb02.jpg" %></a></figure>
			  <figure><a href="images/gallery-thumb03.jpg" data-fancybox class="wow reveal-effect"><%= image_tag "gallery-thumb03.jpg" %></a></figure>
			  <figure><a href="images/gallery-thumb04.jpg" data-fancybox class="wow reveal-effect"><%= image_tag "gallery-thumb03.jpg" %></a></figure>
			  <figure><a href="images/gallery-thumb05.jpg" data-fancybox class="wow reveal-effect"><%= image_tag "gallery-thumb03.jpg" %></a></figure>
			  <figure><a href="images/gallery-thumb06.jpg" data-fancybox class="wow reveal-effect"><%= image_tag "gallery-thumb03.jpg" %></a></figure>
			</div>
			<!-- end side-gallery -->
	</div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
	</section>
<!-- end content-section --> 

<script>
(function ($) {
  $(document).ready(function () {
    "use strict";


    // TAB
    $(".tab-nav li").on('click', function (e) {
      $(".tab-item").hide();
      $(".tab-nav li").removeClass('active');
      $(this).addClass("active");
      var selected_tab = $(this).find("a").attr("href");
      $(selected_tab).stop().show();
      return false;
    });


    // LOGO HOVER
    $(".site-menu ul li").hover(function () {
        $('.site-menu ul li').not(this).css({
          "opacity": "0.3"
        });
      },
      function () {
        $('.site-menu ul li').not(this).css({
          "opacity": "1"
        });
      });


    // HAMBURGER MENU
    $('.hamburger-menu').on('click', function (e) {
      $(this).toggleClass('open');
      $(".side-widget").toggleClass('active');
      $("body").toggleClass("overflow");
    });


    // PAGE TRANSITION
    $('body a').on('click', function (e) {

      var target = $(this).attr('target');
      var fancybox = $(this).data('fancybox');
      var url = this.getAttribute("href");
      if (target != '_blank' && typeof fancybox == 'undefined' && url.indexOf('#') < 0) {


        e.preventDefault();
        var url = this.getAttribute("href");
        if (url.indexOf('#') != -1) {
          var hash = url.substring(url.indexOf('#'));


          if ($('body ' + hash).length != 0) {
            $('.page-transition').removeClass("active");


          }
        } else {
          $('.page-transition').toggleClass("active");
          setTimeout(function () {
            window.location = url;
          }, 1000);

        }
      }
    });


  });
  // END DOCUMENT READY

  // DATA BACKGROUND IMAGE
  var pageSection = $("*");
  pageSection.each(function (indx) {
    if ($(this).attr("data-background")) {
      $(this).css("background", "url(" + $(this).data("background") + ")");
    }
  });



  // DATA BACKGROUND COLOR
  var pageSection = $("*");
  pageSection.each(function (indx) {
    if ($(this).attr("data-background")) {
      $(this).css("background", $(this).data("background"));
    }
  });


  // WOW ANIMATION 
  wow = new WOW({
    animateClass: 'animated',
    offset: 0
  });
  wow.init();


  // CAROUSEL CLASSES SLIDER
  var swiper = new Swiper('.carousel-classes', {
    slidesPerView: '3',
    spaceBetween: 30,
    loop: 'true',
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
	   breakpoints: {
      640: {
        slidesPerView: 1,
        spaceBetween: 15,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
    }
  });


  // MAIN SLIDER
  var swiper = new Swiper('.main-slider', {
    slidesPerView: '1',
    spaceBetween: 0,
    speed: 600,
    loop: 'true',
    touchRatio: 0,
    autoplay: {
      delay: 3500,
      disableOnInteraction: false,
    },
    navigation: {
      prevEl: '.button-prev',
      nextEl: '.button-next',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });


  // COUNTER
  $(document).scroll(function () {
    $('.odometer').each(function () {
      var parent_section_postion = $(this).closest('section').position();
      var parent_section_top = parent_section_postion.top;
      if ($(document).scrollTop() > parent_section_top - 300) {
        if ($(this).data('status') == 'yes') {
          $(this).html($(this).data('count'));
          $(this).data('status', 'no');
        }
      }
    });
  });


  // PRELOADER
  $(window).load(function () {
    $("body").addClass("page-loaded");
  });


})(jQuery);

</script>

