<div class="preloader" style="display:none;"> 
	<figure>
  <%= image_tag "preloader.png" %>
		</figure>
</div>
<!-- end preloader -->
<div class="page-transition"></div>
<!-- end page-transition -->	
<aside class="side-widget">
  <div class="inner">
    <div class="logo"> 
      <a href="/">
            <%= image_tag "kbm.png", class: "logo-size rounded-circle " %>
      </a> 
    </div>
    <!-- end logo -->
    <div class="hide-mobile">
      <p>Un excellent moyen d'évaluer votre niveau de forme physique actuel, y compris des mesures qui aident à déterminer votre forme physique.</p>
      <figure class="gallery"><a href="images/recent-news01.jpg" data-fancybox>
      <%= image_tag "recent-news01.jpg" %>
      </a><a href="images/recent-news02.jpg" data-fancybox>
      <%= image_tag "recent-news02.jpg" %></a></figure>
      <h6 class="widget-title">CONTACT</h6>
      <address class="address">
      <p>+212 700-110910<br>
        <a href="#">contact@kickboxingmorocco.club</a></p>
      </address>
      <h6 class="widget-title">SOCIAL MEDIA </h6>
      <ul class="social-media">
        <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
        <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
        <li><a href="#"><i class="lni lni-instagram"></i></a></li>
        <li><a href="#"><i class="lni lni-youtube"></i></a></li>
        <li><a href="#"><i class="lni lni-pinterest"></i></a></li>
      </ul>
    </div>
    <!-- end hide-mobile -->
    <div class="show-mobile">
      <div class="site-menu">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">KBM</a></li>
        <li><a href="#">Programmes</a></li>
        <li><a href="#">Classes</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      </div>
      <!-- end site-menu --> 
    </div>
    <!-- end show-mobile --> 
    <small>© 2023 KBM | KICKBOXING MOROCCO</small> </div>
  <!-- end inner --> 
</aside>
<!-- end side-widget -->
<nav class="navbar">
  <div class="topbar hidden">
    <div class="container">
	  <div><b>E-mail</b><a href="#">contact@kickboxingmorocco.club</a></div>
	  <div><b>Phone</b>+212 700-110910</div>
	  <div><b><i class="lni lni-map-marker"></i> Location</b><a href="https://goo.gl/maps/k3Na3bHi4zXvdjxf8" target="_blank">TROUVEZ NOUS</a> </div>
	  </div>
    <!-- end container --> 
  </div>
  <!-- end topbar -->
  <div class="container">
    <div class="logo"> <a href="/">
      <%= image_tag "kbm.png", class: "logo-size rounded-circle" %>
    </a> </div>
    <!-- end logo -->
    <div class="site-menu">
      <ul>
        <li><a href="/">Acceuil</a></li>
        <li><a href="#">KBM</a></li>
        <li><a href="#">Programmes</a></li>
        <li><a href="#">Classes</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- end site-menu -->
    <div class="hamburger-menu"> <span></span> <span></span> <span></span> </div>
    <!-- end hamburher-menu -->
    <% if current_user %>
    <div class="navbar-button"> <%= button_to "DECONNEXION", destroy_user_session_path, method: :delete, class: "mx-4 text-sm font-normal" %> </div>
    <% else %>
    <div class="navbar-button"> <a href="/users/sign_in">ABONNEZ-VOUS</a> </div>
    <% end %>
    <!-- end navbar-button --> 
  </div>
  <!-- end container --> 
</nav>
<!-- end navbar -->

<script>
 // PRELOADER
  $(window).load(function () {
    $("body").addClass("page-loaded");
  });

</script>