<div class="preloader" style="display:none;"> 
	<figure>
  <%= image_tag "preloader.png" %>
		</figure>
</div>
<!-- end preloader -->
<div class="page-transition"></div>
<!-- end page-transition -->	
<aside class="side-widget">
  <div class="inner">
    <div class="logo"> <a href="index.html">
    <%= image_tag "logo.png" %>
    </a> </div>
    <!-- end logo -->
    <div class="hide-mobile">
      <p>A great way to evaluate your current fitness level, including measurements that help determine your physical fitness.</p>
      <figure class="gallery"><a href="images/recent-news01.jpg" data-fancybox>
      <%= image_tag "recent-news01.jpg" %>
      </a><a href="images/recent-news02.jpg" data-fancybox>
      <%= image_tag "recent-news02.jpg" %></a></figure>
      <h6 class="widget-title">CONTACT INFO</h6>
      <address class="address">
      <p>+1 (850) 344 0 66<br>
        <a href="#">hellow@quanca.co.uk</a></p>
      </address>
      <h6 class="widget-title">FOLLOW US</h6>
      <ul class="social-media">
        <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
        <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
        <li><a href="#"><i class="lni lni-instagram"></i></a></li>
        <li><a href="#"><i class="lni lni-youtube"></i></a></li>
        <li><a href="#"><i class="lni lni-pinterest"></i></a></li>
      </ul>
    </div>
    <!-- end hide-mobile -->
    <div class="show-mobile">
      <div class="site-menu">
        <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="quanca.html">Quanca</a></li>
        <li><a href="schedule.html">Schedule</a></li>
        <li><a href="classes.html">Classes</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      </div>
      <!-- end site-menu --> 
    </div>
    <!-- end show-mobile --> 
    <small>© 2020 Quanca | Premium Gym Club</small> </div>
  <!-- end inner --> 
</aside>
<!-- end side-widget -->
<nav class="navbar">
  <div class="topbar">
    <div class="container">
	  <div><b>E-mail</b><a href="#">hellow@quanca.co.uk</a></div>
	  <div><b>Phone</b>+1 653 5869</div>
	  <div><b><i class="lni lni-map-marker"></i> Location</b><a href="#">Find Gym</a> </div>
	  </div>
    <!-- end container --> 
  </div>
  <!-- end topbar -->
  <div class="container">
    <div class="logo"> <a href="index.html">
    <%= image_tag "logo.png" %>
    </a> </div>
    <!-- end logo -->
    <div class="site-menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="quanca.html">Quanca</a></li>
        <li><a href="schedule.html">Schedule</a></li>
        <li><a href="classes.html">Classes</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <!-- end site-menu -->
    <div class="hamburger-menu"> <span></span> <span></span> <span></span> </div>
    <!-- end hamburher-menu -->
    <div class="navbar-button"> <a href="contact.html">JOIN NOW</a> </div>
    <!-- end navbar-button --> 
  </div>
  <!-- end container --> 
</nav>
<!-- end navbar -->

<script>
 // PRELOADER
  $(window).load(function () {
    $("body").addClass("page-loaded");
  });

</script>