<%= render "components/header"%>
<section class="content-section">
  <div class="container">
    <div class="row align-items-center no-gutters">
      <div class="col-12">
        <div class="section-title wow fade animated" style="visibility: visible;">
          <figure><%= image_tag "issam-logo.png" %></figure>
          <h6>BIENVENUE AU CLUB KICKBOXING MOROCCO</h6>
          <h2>CLUB D'ARTS MARTIAUX </h2>
        </div>
        <!-- end section-title --> 
      </div>
      <!-- end col-12 -->
      <div class="col-lg-6">
        <div class="side-content left">
          <p>Bienvenue dans notre club d'arts martiaux authentique! Nos instructeurs passionnés et qualifiés 
          offrent une formation complète et personnalisée dans une variété de disciplines, pour que vous puissiez progresser 
          à votre propre rythme.</p> 
          <p>Rejoignez notre communauté pour améliorer votre condition physique, apprendre la discipline 
          et le respect de soi, développer votre confiance en vous et rencontrer de nouvelles personnes partageant les mêmes intérêts. C
          ommencez votre voyage vers une vie plus épanouissante dès aujourd'hui en rejoignant notre club.</p>
          <figure>
            <%= image_tag "issam-logo.png" %>
          </figure>
        </div>
        <!-- end side-content --> 
      </div>
      <!-- end col-6 -->
      <div class="col-lg-6">
        <figure class="side-image full-right wow reveal-effect"> <img src="https://images.unsplash.com/photo-1561532325-7d5231a2dede?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fGJveGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Image"> </figure>
        <!-- end side-image --> 
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->
<section class="content-section no-top-spacing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="counter-box wow fade">
          <figure>
          <%= image_tag "icon01.png" %>
          </figure>
          <span class="odometer" data-count="150" data-status="yes">0</span>
          <h6>MOIS DEPUIS L'OUVERTURE</h6>
        </div>
        <!-- end counter-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="counter-box wow fade">
          <figure> <%= image_tag "icon02.png" %></figure>
          <span class="odometer" data-count="200" data-status="yes">0</span>
          <h6>LA COMMUNAUTE</h6>
        </div>
        <!-- end counter-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="counter-box wow fade">
          <figure> <%= image_tag "icon03.png" %></figure>
          <span class="odometer" data-count="54" data-status="yes">0</span>
          <h6>NOS PROGRAMMES</h6>
        </div>
        <!-- end counter-box --> 
      </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<section class="content-section" data-background="#fafafa">
  <div class="container">
    <div class="row">
      <!-- end col-12 -->
      <div class="col-lg-4 col-md-6">
        <div class="service-box">   
          <div class="wow reveal-effect">
          <%= image_tag "dark-bg.jpg" %>
          </div>
          <figcaption>
            <h6>MALE FAT LOSS</h6>
            <p>Rapid results in just 8 to 12 weeks
              Regular monitoring and retests
              Prices start from £79 per session</p>
            <a href="#">LEARN MORE</a></figcaption>
        </div>
        <!-- end service-box --> 
      </div>
      <!-- end col-4 -->
      
      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <div class="wow reveal-effect">
          <%=image_tag "dark-bg.jpg"%>
          </div>
          <figcaption>
            <h6>FEMALE FAT LOSS</h6>
            <p>Rapid results in just 8 to 12 weeks
              Regular monitoring and retests
              Prices start from £79 per session</p>
            <a href="#">LEARN MORE</a></figcaption>
        </div>
        <!-- end service-box --> 
      </div>
      <!-- end col-4 -->
      
      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <div class="wow reveal-effect"><%=image_tag "dark-bg.jpg"%></div>
          <figcaption>
            <h6>ONLINE TRANINING</h6>
            <p>Rapid results in just 8 to 12 weeks
              Regular monitoring and retests
              Prices start from £79 per session</p>
            <a href="#">LEARN MORE</a></figcaption>
        </div>
        <!-- end service-box --> 
      </div>
      <!-- end col-4 --> 
      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <div class="wow reveal-effect"><%=image_tag "dark-bg.jpg"%></div>
          <figcaption>
            <h6>SPORTS THREAPHY</h6>
            <p>Rapid results in just 8 to 12 weeks
              Regular monitoring and retests
              Prices start from £79 per session</p>
            <a href="#">LEARN MORE</a></figcaption>
        </div>
        <!-- end service-box --> 
      </div>
      <!-- end col-4 -->
      
      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <div class="wow reveal-effect">
          <%=image_tag "dark-bg.jpg"%>
         </div>
          <figcaption>
            <h6>MUSSLE PHYSHIQ</h6>
            <p>Rapid results in just 8 to 12 weeks
              Regular monitoring and retests
              Prices start from £79 per session</p>
            <a href="#">LEARN MORE</a></figcaption>
        </div>
        <!-- end service-box --> 
      </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->
<section class="content-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="section-title text-left">
          <h2>POURQOUI 
            KBM ?</h2>
          <p>Notre club est différent car nous offrons une expérience d'entraînement authentique avec des instructeurs 
          passionnés et qualifiés. Nous nous engageons à offrir une formation complète et personnalisée pour chaque membre, 
          quel que soit son niveau d'expérience ou ses objectifs personnels.</p>
          <p> Nous sommes également une communauté accueillante 
          où vous pouvez rencontrer de nouvelles personnes partageant les mêmes intérêts et créer des liens solides. Avec une grande 
          variété de disciplines à choisir et un environnement positif pour vous aider à atteindre vos objectifs, notre club est le choix 
          idéal pour ceux qui cherchent à améliorer leur condition physique, développer leur confiance en soi et vivre une vie plus épanouissante. 
          Rejoignez notre club d'arts martiaux dès aujourd'hui et commencez votre voyage vers une meilleure version de vous-même.</p>
        </div>
        <!-- end section-title --> 
      </div>
      <!-- end col-6 -->
      <div class="col-lg-5 offset-lg-1">
        <div class="text-box">
          
        </div>
        <!-- end text-box -->
        <ul class="custom-list">
          <li>Pas de contrats bloqués</li>
          <li>27/7 security card access</li>
          <li>Adhésion limitée : pas de surpopulation</li>
          <li>Séances de formation en petits groupes</li>
          <li>Du matériel de qualité</li>
        </ul>
      </div>
      <!-- end col-5 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->
<section class="content-section no-top-spacing left-white-spacing" data-background="#f42828">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="video wow reveal-effect">
        <%=image_tag "video-image.jpg"%>
         <a href="videos/video01.mp4" data-fancybox class="play-btn"><i class="lni lni-play"></i></a> </div>
        <!-- end video --> 
      </div>
      <!-- end col-5 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->
<section class="content-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title wow fade">
          <figure>
          <%=image_tag "issam-logo.png"%>
          </figure>
          <h6>NOS COACHES CHAMPIONS</h6>
          <h2>ENTRAÎNEURS PERSONNELS</h2>
        </div>
        <!-- end section-title --> 
      </div>
      <!-- end col-12 -->
      <div class="col-lg-4 col-md-6">
        <div class="member-box wow reveal-effect">
          <figure> 
          <%= image_tag "team01.jpg" %>
            <figcaption>
              <h6>NOM DU COACH</h6>
              <small>position</small>
              <p>description</p>
              <ul>
                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-instagram"></i></a></li>
              </ul>
            </figcaption>
          </figure>
        </div>
        <!-- end member-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="member-box wow reveal-effect">
          <figure>  <%= image_tag "team01.jpg" %>
            <figcaption>
             <h6>NOM DU COACH</h6>
              <small>position</small>
              <p>description</p>
              <ul>
                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-instagram"></i></a></li>
              </ul>
            </figcaption>
          </figure>
        </div>
        <!-- end member-box --> 
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <div class="member-box wow reveal-effect">
          <figure> <%= image_tag "team01.jpg" %>
            <figcaption>
              <h6>NOM DU COACH</h6>
              <small>position</small>
              <p>description</p>
              <ul>
                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-instagram"></i></a></li>
              </ul>
            </figcaption>
          </figure>
        </div>
        <!-- end member-box --> 
      </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->
<section class="content-section" data-background="images/section-bg01.jpg">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="cta-box wow fade">
          <h2>PLUS D'INFO</h2>
          <p>Contactez-nous pour plus d'informations sur nos cours et nos programmes.</p>
          <a href="/contact" class="custom-button">CLICKEZ ICI</a> </div>
        <!-- end cta-box --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>

<script>
(function ($) {
  $(document).ready(function () {
    "use strict";


    // TAB
    $(".tab-nav li").on('click', function (e) {
      $(".tab-item").hide();
      $(".tab-nav li").removeClass('active');
      $(this).addClass("active");
      var selected_tab = $(this).find("a").attr("href");
      $(selected_tab).stop().show();
      return false;
    });


    // LOGO HOVER
    $(".site-menu ul li").hover(function () {
        $('.site-menu ul li').not(this).css({
          "opacity": "0.3"
        });
      },
      function () {
        $('.site-menu ul li').not(this).css({
          "opacity": "1"
        });
      });


    // HAMBURGER MENU
    $('.hamburger-menu').on('click', function (e) {
      $(this).toggleClass('open');
      $(".side-widget").toggleClass('active');
      $("body").toggleClass("overflow");
    });


    // PAGE TRANSITION
    $('body a').on('click', function (e) {

      var target = $(this).attr('target');
      var fancybox = $(this).data('fancybox');
      var url = this.getAttribute("href");
      if (target != '_blank' && typeof fancybox == 'undefined' && url.indexOf('#') < 0) {


        e.preventDefault();
        var url = this.getAttribute("href");
        if (url.indexOf('#') != -1) {
          var hash = url.substring(url.indexOf('#'));


          if ($('body ' + hash).length != 0) {
            $('.page-transition').removeClass("active");


          }
        } else {
          $('.page-transition').toggleClass("active");
          setTimeout(function () {
            window.location = url;
          }, 1000);

        }
      }
    });


  });
  // END DOCUMENT READY

  // DATA BACKGROUND IMAGE
  var pageSection = $("*");
  pageSection.each(function (indx) {
    if ($(this).attr("data-background")) {
      $(this).css("background", "url(" + $(this).data("background") + ")");
    }
  });



  // DATA BACKGROUND COLOR
  var pageSection = $("*");
  pageSection.each(function (indx) {
    if ($(this).attr("data-background")) {
      $(this).css("background", $(this).data("background"));
    }
  });


  // WOW ANIMATION 
  wow = new WOW({
    animateClass: 'animated',
    offset: 0
  });
  wow.init();


  // CAROUSEL CLASSES SLIDER
  var swiper = new Swiper('.carousel-classes', {
    slidesPerView: '3',
    spaceBetween: 30,
    loop: 'true',
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
	   breakpoints: {
      640: {
        slidesPerView: 1,
        spaceBetween: 15,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
    }
  });


  // MAIN SLIDER
  var swiper = new Swiper('.main-slider', {
    slidesPerView: '1',
    spaceBetween: 0,
    speed: 600,
    loop: 'true',
    touchRatio: 0,
    autoplay: {
      delay: 3500,
      disableOnInteraction: false,
    },
    navigation: {
      prevEl: '.button-prev',
      nextEl: '.button-next',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });


  // COUNTER
  $(document).scroll(function () {
    $('.odometer').each(function () {
      var parent_section_postion = $(this).closest('section').position();
      var parent_section_top = parent_section_postion.top;
      if ($(document).scrollTop() > parent_section_top - 300) {
        if ($(this).data('status') == 'yes') {
          $(this).html($(this).data('count'));
          $(this).data('status', 'no');
        }
      }
    });
  });


  // PRELOADER
  $(window).load(function () {
    $("body").addClass("page-loaded");
  });


})(jQuery);

</script>