<div class="container-fluid" >
    <div class="row" style ="height:100vh;">
      <!-- Image section -->
      <div class="col-md-4 bg-primary d-flex align-items-center justify-content-center login-bg">
      </div>
      <!-- Login form section -->
      <div class="col-md-8 d-flex align-items-center justify-content-center login-bg-content" >
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h2>Connectez-vous à votre compte</h2>
          <div class="form-group">
            <label for="username">Username/Email:</label><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="form-group">
            <label for="password">Mot de pass:</label><br/>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <div class="form-group">
            <p><a href="/users/sign_up"> Je n'ai pas de compte.</a></p>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
              <%= f.submit "Log in", class:"login-btn" %><br/>
        <% end %>
      </div>
    </div>
  </div>
