<style>
body{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
    background-color:transparent;
}

.lead-container{
    padding:20px;
    margin-bottom: 50px;
    /* shadow */
}

.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;  
  border-radius: 5px;
  color: #fff;
}

form{
    margin-bottom:50px;
}

input[type="radio"]:checked {
    border: 6px solid red!important;
}

input[type="checkbox"]:checked {
    border: 6px solid red!important;
}



</style>

<%= render "components/header"%>


<div class="container pt-5 enquete">
  <div class="lead-container box">
  <% if @questionnaire.errors.any? %>
  <div id="error_explanation">
    <h2 style="color:red!important;">Erreurs de validation :</h2>
    <ul>
      <% @questionnaire.errors.full_messages.each do |message| %>
        <li style="color:red!important;"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
    <p class="lead"> Chers clients,
dans le cadre de maintenir notre qualité de service et afin de vous écouter et maintenir votre satisfaction,L’équipe Kickboxing Morocco ont mis en place un questionnaire ou nous invitons chaleureusement à y répondre ci-dessous :
    </p>
  </div>

<%= form_with(model: @questionnaire, url: questionnaire_seniors_path, method: :post) do |f| %>

<!---------------------------- First Question ----------------------------------------------------------->
<div class="question-one-title">
  <h4><strong>1.</strong> Dans une échelle de 1 à 5, êtes-vous satisfait de la qualité de service à notre salle :</h4><br>
</div>
<div class="question-one pb-5">
  <%= f.collection_radio_buttons :satisfaction, QuestionnaireSenior.satisfactions, :first, :last do |b| %>
  <%= b.label class: "form-check-label mx-3" do %>
    <%= b.radio_button class: "form-check-input" %>
    <%= b.text %>
  <% end %>
<% end %>


</div>  
<!---------------------------- End of First question ---------------------------------------------------->

<div class="question-two-title">
  <h4><strong>2.</strong> D’après vous, quels sont les éléments de valeur que nous rapportons à votre enfant :</h4><br>
</div>
<!---------------------------- Second Question ----------------------------------------------------------->
<div class="question-two pb-5">
  <div style="display:flex;flex-direction:column;">
    <% QuestionnaireSenior::VALUES.each do |key| %>
      <div>
        <%= f.check_box :value, { multiple: true }, key %>
        <%= f.label key %>
      </div>
    <% end %>
  </div>
</div>

<!---------------------------- End of Second question ---------------------------------------------------->


        <!---------------------------- Third Question ----------------------------------------------------------->
        <div class="question-three-title">
            <h4><strong>3.</strong> Comment évaluez-vous la qualité des instructions fourni par les coaches ?</h4><br>
        </div>
        <div class="question-one pb-5">
           <%= f.collection_radio_buttons :qualite, QuestionnaireSenior.qualites, :first, :last do |b| %>
            <%= b.label class: "form-check-label mx-3" do %>
              <%= b.radio_button class: "form-check-input" %>
              <%= b.text %>
            <% end %>
          <% end %>
        </div>
        <!---------------------------- End of Third question ---------------------------------------------------->

        <!---------------------------- Fourth Question ---------------------------------------------------------->
        <div class="question-three-title">
            <h4><strong>4.</strong> Quel type de discipline que vous préférez le plus?</h4><br>
        </div>

        <div class="question-three pb-5">
            <div style="display:flex;flex-direction:column;">
                <% QuestionnaireSenior::DISCIPLINES.each do |key| %>
                <div>
                    <%= f.check_box :value, { multiple: true }, key %>
                    <%= f.label key %>
                </div>
                <% end %>
            </div>
        </div>
        <!---------------------------- End of Fouth question ---------------------------------------------------->

        <!---------------------------- Fifth Question ---------------------------------------------------------->
        <div class="question-three-title">
            <h4><strong>5.</strong> Est ce que vous sentez que nous fournissons un environnement de support et de sécurité pour vous ai sein de notre gym?</h4><br>
        </div>

        <div class="question-three pb-5">
            <div class="question-one">
             <%= f.collection_radio_buttons :securite, QuestionnaireSenior.securites, :first, :last do |b| %>
            <%= b.label class: "form-check-label mx-3" do %>
              <%= b.radio_button class: "form-check-input" %>
              <%= b.text %>
            <% end %>
          <% end %>
            </div>
        </div>
        <!---------------------------- End of Fifth question ---------------------------------------------------->


        <div class="question-three-title">
            <h4><strong>6.</strong> Qu’est ce qui vous plait le plus dans notre gym ? </h4><br>
        </div>

        <div class="question-three pb-5">
            <div class="question-one">
              <%= f.text_area :gym_commentaire, class: "form-control" %>
            </div>
        </div>

        <!---------------------------- Sixest Question ----------------------------------------------------------->

        <div class="question-three-title">
            <h4><strong>7.</strong> Est ce que vous aurez tendance à recommander notre salle à d’autres parents qui souhaitent prendre de cours pour leurs enfants ? </h4><br>
        </div>

        <div class="question-three pb-5">
            <div class="question-one">
              <%= f.collection_radio_buttons :tendance, QuestionnaireSenior.tendances, :first, :last do |b| %>
            <%= b.label class: "form-check-label mx-3" do %>
              <%= b.radio_button class: "form-check-input" %>
              <%= b.text %>
            <% end %>
          <% end %>
            </div>
        </div>
        <!---------------------------- End of Sixest question ---------------------------------------------------->


      <!---------------------------- Seventh Question ----------------------------------------------------------->
        <div class="question-three-title">
            <h4><strong>8.</strong> Avez-vous des demandes ou suggestions à partager avec nous pour améliorer notre qualité de service ?</h4><br>
        </div>

        <div class="question-three pb-5">
            <div class="form-floating">
            <%= f.text_area :suggestion, class: "form-control", placeholder: "Laissez un commentaire ici", id: "floatingTextarea2", style: "height: 100px" %>
            </div>
        </div>
      <!---------------------------- End of Seventh question ---------------------------------------------------->
    <%= f.submit%>
    <%end%>
</div>